# OpenAPI 3.1 schema for the DrawReport Growth Data API.
#
# WHAT IT IS FOR. A ChatGPT connector / custom GPT Action cannot call an API it has no
# description of. Paste this whole file into the GPT builder (Configure -> Actions -> Schema),
# then set Authentication to "API Key", Auth Type "Bearer", and paste the value of
# GROWTH_AGENT_TOKEN from the SERVER .env. The token is NOT in this file and must never be
# added to it - this file is tracked in git.
#
# The descriptions below are written for the MODEL, not for a human reader: they are the only
# thing standing between "which channel actually sells" and a confidently wrong answer built
# on bot traffic or on the wrong attribution model. Keep them blunt.
openapi: 3.1.0

info:
  title: DrawReport Growth Data API
  version: "1"
  description: >-
    Read-only, aggregated growth metrics for drawreport.com, a site that sells an educational
    PDF report about a child's drawing and offers a free single-drawing reading. Contains no
    personal data: no emails, no children's names, no drawings, no report text.


    THREE RULES FOR ANY ANALYSIS BUILT ON THIS API.


    1. Use visits_engaged_human when you mean people. Raw visit counts are dominated by
    crawlers, scanners and social link-preview fetchers. Bot detection is user-agent based, so
    even visits_non_bot is inflated. Every summary response states the bot share in
    data_quality.warnings.


    2. Never merge the two attribution models. last_touch describes the visit that produced
    the outcome; first_touch describes where that person originally came from. They routinely
    disagree, and both are correct. Always say which one a claim rests on.


    3. Absent is not zero. Ad spend, refunds, net revenue and PayPal fees are returned as null
    with a warning because the system does not store them. Cost per acquisition and return on
    ad spend therefore cannot be computed from this API alone; they need spend figures from the
    advertising platform.

servers:
  - url: https://drawreport.com
    description: production

security:
  - bearerAuth: []

paths:
  /internal/growth/summary:
    get:
      operationId: getGrowthSummary
      summary: What happened in a date range
      description: >-
        Traffic, both funnel doors, the free-reading funnel, commercial totals, and both
        attribution models for one closed date range. Use this first for any "how are we
        doing" question. Dates are inclusive UTC calendar days and the range may not exceed
        400 days.
      parameters:
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
      responses:
        "200":
          description: Aggregated growth metrics.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/SummaryData"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /internal/growth/content:
    get:
      operationId: getGrowthContent
      summary: Which campaigns and content identifiers produced activity
      description: >-
        Rows grouped by UTM content identifier, by campaign and by source, for both attribution
        models. Use this to compare individual ad creatives, posts or tagged links. A row
        exists only where the tag was actually present on the inbound link; everything else is
        summed into untagged and is never guessed into a bucket.
      parameters:
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - name: limit
          in: query
          required: false
          description: Maximum rows per table. Default 50, capped at 200.
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
      responses:
        "200":
          description: Content and campaign breakdowns under both attribution models.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        $ref: "#/components/schemas/ContentData"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "503": { $ref: "#/components/responses/NotConfigured" }

  /internal/growth/changes:
    get:
      operationId: getGrowthChanges
      summary: What the team changed during the period
      description: >-
        The growth change log, oldest first. Call this alongside a summary before attributing a
        movement in the numbers to an external cause: a shift may simply follow a price change,
        a landing-page rewrite or a tracking change made on that date.
      parameters:
        - name: since
          in: query
          required: true
          description: ISO-8601 timestamp. Only entries at or after this moment are returned.
          schema: { type: string, examples: ["2026-09-01T00:00:00Z"] }
        - name: limit
          in: query
          required: false
          description: Maximum entries. Default and cap 500.
          schema: { type: integer, minimum: 1, maximum: 500, default: 500 }
      responses:
        "200":
          description: Growth-relevant changes.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Envelope"
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          count: { type: integer }
                          changes:
                            type: array
                            items: { $ref: "#/components/schemas/Change" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "503": { $ref: "#/components/responses/NotConfigured" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        The dedicated growth token. Not the site admin password. If the server has no token
        configured every route answers 503.

  parameters:
    From:
      name: from
      in: query
      required: true
      description: First day of the range, inclusive, UTC, format YYYY-MM-DD.
      schema: { type: string, examples: ["2026-09-01"] }
    To:
      name: to
      in: query
      required: true
      description: Last day of the range, inclusive, UTC, format YYYY-MM-DD. Must not precede from.
      schema: { type: string, examples: ["2026-09-10"] }

  responses:
    BadRequest:
      description: Invalid dates, a range longer than 400 days, or a bad limit.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Unauthorized:
      description: Missing or invalid bearer token.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotConfigured:
      description: The API is disabled because no token is configured on the server.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    Error:
      type: object
      properties:
        schema_version: { type: string }
        project: { type: string }
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }

    Envelope:
      type: object
      description: Common wrapper on every successful response.
      properties:
        schema_version: { type: string }
        project: { type: string, description: Always "drawreport". }
        generated_at: { type: string, description: UTC timestamp of this response. }
        period:
          type: object
          properties:
            from: { type: string }
            to: { type: string }
            timezone: { type: string, description: Always UTC. }
        data_quality:
          type: object
          description: >-
            Read this before quoting any number. status is "partial" whenever there is at least
            one warning, and the warnings name every metric that is null and every known bias.
          properties:
            status: { type: string, enum: [ok, partial] }
            warnings:
              type: array
              items: { type: string }

    AttributionRow:
      type: object
      description: One channel, campaign, source or content identifier with its outcomes.
      properties:
        level: { type: string, enum: [content, campaign, source] }
        channel:
          type: string
          description: >-
            Last touch only. One of ads, social, email, utm, organic, referral, direct,
            internal.
        content_id: { type: string, nullable: true, description: The utm_content value. }
        source: { type: string, nullable: true }
        medium: { type: string, nullable: true }
        campaign: { type: string, nullable: true }
        visits: { type: integer, description: Non-bot visits. }
        engaged_visits: { type: integer, description: The trustworthy human count. }
        visitors: { type: integer, description: Distinct cookie identities. }
        free_uploads: { type: integer }
        free_completions: { type: integer }
        orders_created: { type: integer }
        paid_orders: { type: integer }
        gross_revenue_usd:
          type: number
          description: >-
            Revenue of paid orders CREATED in the window, so it can differ from
            commercial.gross_revenue_usd, which counts by payment date.

    SummaryData:
      type: object
      properties:
        traffic:
          type: object
          properties:
            primary_metric: { type: string, description: Always visits_engaged_human. }
            primary_metric_definition: { type: string }
            visits_raw: { type: integer, description: Everything, bots included. Do not quote as people. }
            visits_non_bot: { type: integer, description: Still inflated by undetected scanners. }
            visits_engaged_human: { type: integer, description: Use this one for people. }
            visitors_unique_non_bot: { type: integer }
            visitors_unique_engaged_human: { type: integer }
            engaged_human_new_vs_returning:
              type: object
              properties:
                new: { type: integer }
                returning: { type: integer }
            avg_pages_per_engaged_visit: { type: number, nullable: true }
            device_engaged_human: { type: object, additionalProperties: { type: integer } }
            countries_engaged_human:
              type: array
              items:
                type: object
                properties:
                  country: { type: string }
                  engaged_visits: { type: integer }
        funnel:
          type: object
          properties:
            doors:
              type: array
              description: >-
                Two nested per-visit funnels. The free door starts on the home page and runs
                through the free wizard; the paid door starts on the product page. Steps are
                nested by construction, so a later step is never larger than an earlier one.
              items:
                type: object
                properties:
                  door: { type: string, enum: [free, paid] }
                  title: { type: string }
                  visits: { type: integer }
                  gross_revenue_usd: { type: number }
                  steps:
                    type: array
                    items:
                      type: object
                      properties:
                        step: { type: string }
                        kind: { type: string, enum: [path, gate] }
                        visits: { type: integer }
                        mobile: { type: integer }
                        desktop: { type: integer }
            free:
              type: object
              description: The free single-drawing reading, which is the main top-of-funnel conversion.
              properties:
                wizard_openers_visitors: { type: integer }
                questionnaires_completed: { type: integer }
                email_only_no_drawing: { type: integer, description: Answered the questions, left an email, never uploaded. }
                uploads: { type: integer }
                completions: { type: integer }
                insufficient: { type: integer }
                failed: { type: integer }
                in_progress: { type: integer }
                avg_completion_seconds: { type: number, nullable: true }
                failures_by_reason: { type: object, additionalProperties: { type: integer } }
                uploads_refused_by_reason:
                  type: object
                  additionalProperties: { type: integer }
                  description: Uploads rejected before processing, for example too_big or format.
                to_paid_click_visitors: { type: integer }
                to_paid_transitions:
                  type: object
                  description: >-
                    Purchases by people from this questionnaire cohort. direct is exact; the
                    other two are coincidence matches and can be wrong.
                  properties:
                    direct: { $ref: "#/components/schemas/Transition" }
                    same_email: { $ref: "#/components/schemas/Transition" }
                    same_visitor: { $ref: "#/components/schemas/Transition" }
            orders:
              type: object
              properties:
                orders_created: { type: integer, description: Checkout started. PayPal's own page is off-site and invisible. }
                orders_created_still_unpaid: { type: integer }
                orders_created_and_paid: { type: integer }
                paid_orders: { type: integer, description: Counted by payment date. }
                reports_delivered: { type: integer }
                paid_orders_by_status: { type: object, additionalProperties: { type: integer } }
        commercial:
          type: object
          properties:
            currency: { type: string }
            gross_revenue_usd: { type: number, description: Charged amount after coupons, by payment date. }
            paid_orders: { type: integer }
            average_order_value_usd: { type: number, nullable: true }
            coupon_orders: { type: integer }
            avg_drawings_per_paid_order: { type: number, nullable: true }
            by_product: { type: object }
            ad_spend_usd: { type: "null", description: Never available. Not stored. Not zero. }
            refunds_usd: { type: "null", description: Never available. Refunds are not tracked. }
            net_revenue_usd: { type: "null", description: Never available. Needs fees and refunds. }
            paypal_fees_usd: { type: "null", description: Never available. Not stored. }
        attribution:
          type: object
          properties:
            note: { type: string }
            last_touch:
              type: object
              description: The visit's own tags. Answers "which click produced this outcome".
              properties:
                totals: { $ref: "#/components/schemas/AttributionRow" }
                by_channel: { type: array, items: { $ref: "#/components/schemas/AttributionRow" } }
                by_utm_campaign: { type: array, items: { $ref: "#/components/schemas/AttributionRow" } }
                by_utm_source: { type: array, items: { $ref: "#/components/schemas/AttributionRow" } }
                untagged: { $ref: "#/components/schemas/AttributionRow" }
                unattributed:
                  type: object
                  description: >-
                    Outcomes whose originating visit falls outside the window or was
                    bot-flagged. Reported rather than guessed into a bucket.
            first_touch:
              type: object
              description: >-
                The one-year first-touch cookie. Answers "where did this person originally come
                from". Set only when a UTM was present, so organic, referral and direct first
                visits appear under untagged rather than under their true source.
              properties:
                totals: { $ref: "#/components/schemas/AttributionRow" }
                by_utm_campaign: { type: array, items: { $ref: "#/components/schemas/AttributionRow" } }
                by_utm_source: { type: array, items: { $ref: "#/components/schemas/AttributionRow" } }
                untagged: { $ref: "#/components/schemas/AttributionRow" }

    Transition:
      type: object
      properties:
        orders: { type: integer }
        paid_orders: { type: integer }
        gross_revenue_usd: { type: number }

    ContentData:
      type: object
      properties:
        grouping: { type: string }
        limit: { type: integer }
        last_touch: { $ref: "#/components/schemas/ContentTable" }
        first_touch: { $ref: "#/components/schemas/ContentTable" }

    ContentTable:
      type: object
      properties:
        content: { type: array, items: { $ref: "#/components/schemas/AttributionRow" } }
        content_truncated: { type: boolean }
        campaign: { type: array, items: { $ref: "#/components/schemas/AttributionRow" } }
        source: { type: array, items: { $ref: "#/components/schemas/AttributionRow" } }
        untagged: { $ref: "#/components/schemas/AttributionRow" }
        unattributed: { type: object }

    Change:
      type: object
      description: One growth-relevant change made by the team.
      properties:
        id: { type: string, examples: ["DR-CHG-0001"] }
        timestamp: { type: string }
        category:
          type: string
          enum: [analytics, attribution, funnel, landing_page, pricing, seo, social,
                 content, retention, product, email, infrastructure]
        title: { type: string }
        reason: { type: string }
        affected_area: { type: array, items: { type: string } }
        expected_metrics:
          type: array
          items: { type: string }
          description: Metric names the author expected to move. Empty means no movement expected.
        experiment_id: { type: string, nullable: true }
        author: { type: string }
        notes: { type: string }
